/* Selector Universal */
*{
    padding: 0 auto;
    margin: 0 auto;
}

/* Selecto ID*/
#contenedor {
    width: 1200px;
    height: 1000px;
}
#encabezado {
    height: 15%;
    margin: 1em;
}
#menu {
    height: 5%;
    background-color: rgba(223, 208, 208, 0.425);
    margin: 1em auto;
    border-radius: 7px;
    padding-bottom: 15px;
}
#contenido{
    height: 72%;
    width: 61%;
    margin: 0.5em;
    float: left;
    
    
}
#fueraSeccion{
    height: 64%;
    width: 36%;
    background-color: rgba(90, 175, 107, 0.322);
    margin: 0.5em;
    float: right;
}
#Pie{
    height: 5%;
}
/* Selector de Clase */
.texto{
    text-align: justify;
    font-family: Calibri;
    color: whitesmoke;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px; 
}
.textoAfuera{
    text-align: justify;
    font-family: Calibri;
    color: black;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;  
}
.encabezado_articulo{
    text-align: center;
    color: whitesmoke;
    margin: auto 2em;
}
.encabezado_afuera{
    text-align: center;
    color: black;
    margin: auto 2em;
}
.imagenes{
    text-align: center;
    display: block;
    border: 1px solid black;
    margin-left: 28%;
    
    width: 250px;
}
.imagenesFuera{
    display: block;
    border: 1px solid black;
    margin-left: 25%;
    
    width: 200px;
    align-items: center;
}
.textoTitu{
    text-align: center;
    font-family: Bahnschrift Light;
    color: whitesmoke;
    font-size: 100px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 25px; 
}
.textoFoto{
    text-align: center;
    font-family: Calibri Light;
    color: white;
    font-size: 12px;
}
.textoPie{
    text-align: center;
    font-family: Calibri Light;
    color: white;
    font-size: 16px;
}
body{
  background-image: url(/img/negro1.webp);
}
ul{
    text-align: center;
}
li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    padding-top: 3px;
}
a{
    color: black;
    text-decoration-line: unset;
}